<div class="container">
  <app-preview-card class="feature-block" title="Клики">
    <img class="inner-chart" src="/assets/images/charts/bar-chart.png" alt="клики">
  </app-preview-card>

  <app-preview-card class="feature-block" title="Просмотры">
    <img class="inner-chart" src="/assets/images/charts/line-days-chart.png" alt="просмотры">
  </app-preview-card>

  <app-preview-card class="feature-block" title="Комментарии">
    <img class="inner-chart" src="/assets/images/charts/line-chart.png" alt="комментарии">
  </app-preview-card>

  <app-preview-card class="feature-block" title="Избранное">
    <img class="inner-chart" src="/assets/images/charts/arc-chart.png" alt="избранное">
  </app-preview-card>

  <app-preview-card class="feature-block" title="Покупки">
    <img class="inner-chart" src="/assets/images/charts/legend-item.png" alt="покупки">
  </app-preview-card>

  <app-preview-card class="feature-block" title="Файлы">
    <img class="inner-chart" src="/assets/images/charts/pie-chart.png" alt="файлы">
  </app-preview-card>
</div>
