<tui-root>
  <!-- app content -->
  <router-outlet></router-outlet>

  <!-- Content over app content -->
  <ng-container ngProjectAs="tuiOverContent"></ng-container>

  <!-- Content over dialogs -->
  <ng-container ngProjectAs="tuiOverDialogs"></ng-container>

  <!-- Content over alerts -->
  <ng-container ngProjectAs="tuiOverAlerts"></ng-container>

  <!-- Content over dropdowns -->
  <ng-container ngProjectAs="tuiOverPortals"></ng-container>

  <!-- Content over hints -->
  <ng-container ngProjectAs="tuiOverHints"></ng-container>
</tui-root>
